.up {
    text-transform: uppercase;
}

.heavy {
    font-weight: 700;
}

.pb10 {
    padding-bottom: 10px;
}
.pt3 {
    padding-top: 3px;
}
.pt9 {
    padding-top: 9px;
}
.pt10 {
    padding-top: 10px;
}
.pt12 {
    padding-top: 12px;
}
.pt13 {
    padding-top: 13px;
}
.pt16 {
    padding-top: 16px;
}
.pt3 {
    padding-top: 3px;
}
.pt5 {
    padding-top: 5px;
}
.pt12 {
    padding-top: 12px;
}
.pt15 {
    padding-top: 15px;
}
.pt18 {
    padding-top: 18px;
}
.pl10 {
    padding-left: 10px;
}
.pl20 {
    padding-left: 20px;
}
.pl27 {
    padding-left: 27px;
}
.pl30 {
    padding-left: 30px;
}
.pl56 {
    padding-left: 56px;
}

.fs14 {
    font-size: 14px;
}
.fs16 {
    font-size: 16px;
}
.fs18 {
    font-size: 18px;
}
.w170 {
    width: 170px;
}
.w220 {
    width: 220px;
}
.w230 {
    width: 230px;
}
.w630 {
    width: 630px;
}
.w660 {
    width: 660px;
}
.w705 {
    width: 705px;
}