$colors: (
  'primaryText': #6b6c6d,
  'primaryBackground': #eef2f6,
  'boxBackground': #ffffff,
  'hooprOrange': #d45d42,
  'hooprBlue': #3488bb
);

$totalWidth: 950px;
$marginRight: 25px;
$stdRadius: 3px;